/* style.css */

@import url("./reset.css");

/* variables */
:root {
    --color-main: forestgreen;
    --color-sec: white;
    --spacing: 1rem;
    --padding: 1rem;
    --font-family-main: Arial, Helvetica, sans-serif;
    
    /* testing */
    * {
        outline: solid red 1px;

    }
}

body {
    background-color: var(--color-main);
    color: white;
    font-size: 1rem;
    font-family: var(--font-family-main);

    display: grid;
    /* set max width on first column? changes with project input */
    grid-template-columns: 1fr 4fr; 
    grid-template-rows: auto 1fr;

    /* set min-height so side bar can always fill up page vertically */
    min-height: 100vh;
}

#header {
    grid-column: span 2;
}

#sidebar {
    background-color: var(--color-sec);
    color: var(--color-main);

    margin-left: var(--padding);

    
    .sidebar-project-li {
        /* set firm width */
        width: fit-content;

        .del-sidebar-proj-list-name {
            text-decoration: line-through;
        }

    }

}

#main-content {
    padding-top: calc(-1 * var(--padding));

    display: grid;
    gap: var(--padding);
    align-content: start;

    .todo-card {
        background-color: var(--color-sec);
        color: var(--color-main);

        padding: var(--padding);

        max-height: max-content;
    }

    /* todo-card non-detailed display */
    .todo-card-abridged {
        .todo-data-line-project {
            display: none;
        }
        
        .todo-data-line-description {
            display: none;
        }
    }
    
    /* def-todo-card non-detailed display */
    .def-todo-card-abridged {
        #default-card-form-wrapper {
            display: none;
        }

    }
}

/* catch all */
.del-confirm-message {
    font-style: italic;
}
